<h1>Revision</h1>{{id}}

<h2>Versions</h2>

<!--<nz-list nzItemLayout="horizontal" >-->
<!--      <nz-list-item *ngFor="let item of versions">-->
<!--          <ng-container >-->
<!--          <nz-list-item-meta-->
<!--            [nzDescription]="desc"-->
<!--          >-->

<!--            <ng-template #desc>-->
<!--              {{item.created_at}}-->
<!--            </ng-template>-->
<!--            <nz-list-item-meta-title>-->
<!--              <a routerLink="/notes/{{item.id}}">{{ item.name}}</a>-->
<!--            </nz-list-item-meta-title>-->
<!--          </nz-list-item-meta>-->
<!--        </ng-container>-->


<!--      </nz-list-item>-->
<!--      <nz-list-empty *ngIf="versions.length === 0"></nz-list-empty>-->
<!--</nz-list>-->

<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div *cdkVirtualFor="let item of versions" class="example-item">

    <div>
      {{item.version}} <a routerLink="/notes/{{id}}/revision/{{item.archive_id}}/">{{item.archive_id}}</a> {{item.created_at}}
    </div>
  </div>
</cdk-virtual-scroll-viewport>

